body {
  background-color: #243061;
}

.AppsAndClients {
  font-size: 15px;
  background-color: #243061;
}

.AppsAndClients .rotateButton {
  animation: rotate-keyframes 0.5s;
  fill: #4b5991;
}

@keyframes rotate-keyframes {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.AppsAndClients .col-1 {
  max-width: 20%;
}

.AppsAndClients .card {
  border: none;
}

.AppsAndClients .card-body {
  padding: 1.0rem;
}

.AppsAndClients .background_title {
  text-shadow: 3px 3px 5px black;
  background-color: transparent;
  border: none;
}

.AppsAndClients .background_title h2 {
  text-align: center;
}

.AppsAndClients .background_title text {
  white-space: pre;
  fill: white;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

.AppsAndClients .stop1 {
  stop-color: #6757f5;
}

.AppsAndClients .stop2 {
  stop-color: #f876c0;
}

.AppsAndClients .stop3 {
  stop-color: transparent;
}

.AppsAndClients .stop4 {
  stop-color: white;
}

.AppsAndClients .stop5 {
  stop-color: #5b4ddb;
}

.AppsAndClients .stop6 {
  stop-color: #ee6bb5;
}

.AppsAndClients .stop7 {
  stop-color: #4737d4;
}

.AppsAndClients .stop8 {
  stop-color: #f35bb1;
}

.AppsAndClients .rect1 {
  fill: url(#Gradient1);
}

.AppsAndClients .rect3 {
  opacity: 0.3;
  fill: url(#Gradient1);
}

.AppsAndClients .rect2 {
  opacity: 0.5;
  fill: url(#Gradient1);
}

.AppsAndClients .rect4 {
  opacity: 0.3;
  fill: url(#Gradient2);
}

.AppsAndClients .rect5 {
  fill: white;
  opacity: 0.1;
}

.AppsAndClients .rect6 {
  fill: url(#Gradient5);
}

.AppsAndClients .path1Style {
  fill-rule: nonzero;
  fill: url(#Gradient3);
}

.AppsAndClients .path2Style {
  fill-rule: nonzero;
  fill: url(#Gradient4);
  opacity: 0.5;
}

@keyframes dotsClients {
  0% {
    fill: transparent;
  }
  20% {
    fill: #aec6f3;
  }
  40% {
    fill: #90a4fc;
  }
  60% {
    fill: transparent;
  }
  80%, 100% {
    fill: transparent;
  }
}

.AppsAndClients .dotsClients-light {
  animation: dotsClients 5s ease infinite;
  fill: transparent;
}

.AppsAndClients .dotsClients--1 {
  animation-delay: .0s;
}

.AppsAndClients .dotsClients--2 {
  animation-delay: .3s;
}

.AppsAndClients .dotsClients--3 {
  animation-delay: .6s;
}

.AppsAndClients .dotsClients--4 {
  animation-delay: .9s;
}

.AppsAndClients .dotsClients--5 {
  animation-delay: 1.2s;
}

@keyframes dotsApps {
  0% {
    fill: transparent;
  }
  20% {
    fill: #f3aeea;
  }
  40% {
    fill: #f186c3;
  }
  60% {
    fill: transparent;
  }
  80%, 100% {
    fill: transparent;
  }
}

.AppsAndClients .dotsApps-light {
  animation: dotsApps 6s ease infinite;
  fill: transparent;
}

.AppsAndClients .dotsApps--1 {
  animation-delay: .0s;
}

.AppsAndClients .dotsApps--2 {
  animation-delay: .6s;
}

.AppsAndClients .dotsApps--3 {
  animation-delay: .3s;
}

.AppsAndClients .dotsApps--4 {
  animation-delay: .9s;
}

.AppsAndClients .dotsApps--5 {
  animation-delay: 1.2s;
}

.AppsAndClients .card-header {
  border-radius: 10px;
  color: white;
  background-color: rgba(251, 250, 252, 0.075);
}

.AppsAndClients #app_card_level1 {
  background: linear-gradient(90deg, #5c6ba5, transparent);
  margin-top: 10px;
  color: seashell;
  border-radius: 20px;
  border: none;
  box-shadow: 0px 2px 10px #1c264d;
  transition: all 0.2s ease-in-out;
}

.AppsAndClients #app_card_level1:hover {
  box-shadow: 1px 1px 5px 2px #f087c84f;
  opacity: 0.96;
}

.AppsAndClients #app_card_level1_Change {
  background: linear-gradient(90deg, #a255ac, transparent);
  margin-top: 10px;
  color: seashell;
  border-radius: 20px;
  border: none;
  box-shadow: 0px 2px 10px #1c264d;
  transition: all 0.2s ease-in-out;
}

.AppsAndClients #app_card_level1_Change:hover {
  box-shadow: 1px 1px 5px 2px #f087c84f;
  opacity: 0.96;
}

.AppsAndClients .Textbold {
  font-weight: bold;
  text-shadow: 1px 1px 3px black;
}

.AppsAndClients .dropdown {
  background-color: #4b5991 !important;
  color: white !important;
  border: none;
  box-shadow: 0px 0px 0px #343d64 !important;
  font-size: 13px;
  font-weight: bold;
}

.AppsAndClients .dropdown:hover {
  box-shadow: 1px 3px 5px #343d64 !important;
}

.AppsAndClients .dropdown_isOpen {
  background-color: #5868a7;
  border-radius: 20px;
  border-style: none;
}

.AppsAndClients select.form-control:not([size]):not([multiple]) {
  height: 100%;
}

.AppsAndClients .collapsebutton {
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  opacity: 1;
  transition: opacity 1s;
}

.AppsAndClients .collapsebutton:hover {
  opacity: 0.8;
}

.AppsAndClients .card_depend_header {
  border-radius: 10px;
  color: white;
  background: linear-gradient(90deg, rgba(245, 84, 175, 0.534), rgba(245, 84, 175, 0.534), rgba(245, 84, 175, 0.233), transparent);
  margin-top: 5px;
}

.AppsAndClients .card_depend_header #depend {
  font: bold 15px "Century Gothic";
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #080808;
  border-radius: 10px;
}

.AppsAndClients .body_dependencies {
  background-color: rgba(146, 159, 212, 0.534);
  color: black;
  font: bold 15px "Century Gothic";
  border: none;
  border-radius: 5px;
}

.AppsAndClients .interspace {
  margin-top: 2px;
  margin-bottom: 2px;
}

.AppsAndClients .client_card_level1 {
  background: linear-gradient(90deg, #4b5991, transparent);
  margin-top: 10px;
  color: seashell;
  border-radius: 20px;
  border: none;
  box-shadow: 0px 5px 10px #1c264d;
  transition: all 0.2s ease-in-out;
}

.AppsAndClients .client_card_level1:hover {
  box-shadow: 1px 1px 5px 2px rgba(74, 102, 212, 0.822);
  opacity: 0.96;
}

.AppsAndClients .client_card_level2 {
  background-color: #243061;
  box-shadow: 0px 2px 10px #1c264d;
  margin-top: 5px;
}

.AppsAndClients .client_card_level3 {
  background-color: #4b5991;
  margin-top: 7px;
  border-radius: 10px;
}

.AppsAndClients .comment_card {
  background-color: rgba(36, 48, 97, 0.555);
  border-radius: 20px;
}

.AppsAndClients .helpTextColorClient {
  color: #0eb7eb !important;
}

.AppsAndClients .info {
  margin-left: 3px;
  color: white !important;
}

.AppsAndClients .helpTextColorApp {
  color: #ec8cde !important;
}

.AppsAndClients .client_table_version_history {
  background-color: rgba(255, 255, 255, 0.438);
  margin-top: 10px;
  color: black;
  text-shadow: none;
  border-radius: 5px;
  box-shadow: 0px 2px 10px #1c264d;
}

.AppsAndClients Table {
  margin-bottom: 0px;
}

.AppsAndClients .title_version_history {
  text-align: center;
  text-shadow: 1px 1px 3px #f0eaea;
  color: #054d69;
  font-weight: bold;
  font-size: 17px;
}

.AppsAndClients .body_version_history {
  font-size: 14px;
}

.AppsAndClients .client_button {
  margin-top: 5px;
  margin-bottom: 10px;
  width: 100%;
  color: rgba(15, 13, 48, 0.753);
  background: linear-gradient(90deg, rgba(84, 214, 247, 0.616), rgba(61, 97, 241, 0.582));
  font-weight: bold;
  border: none;
  text-align: center;
  letter-spacing: 0px;
  border-radius: 7px;
  transition: all 0.2s ease-in-out;
  position: relative;
}

.AppsAndClients .client_button:hover {
  background: linear-gradient(90deg, rgba(84, 214, 247, 0.616), rgba(61, 97, 241, 0.582));
  color: black;
  box-shadow: 0 15px 5px -10px rgba(0, 0, 0, 0.4);
}

.AppsAndClients .btn-primary:not(:disabled):not(.disabled):active, .AppsAndClients .btn-primary:not(:disabled):not(.disabled).active, .AppsAndClients .show > .btn-primary.dropdown-toggle {
  color: rgba(15, 13, 48, 0.753);
  background: linear-gradient(90deg, rgba(84, 214, 247, 0.616), rgba(61, 97, 241, 0.582));
}

.AppsAndClients .btn-primary:focus, .AppsAndClients .btn-primary.focus {
  color: black;
}

.AppsAndClients card {
  height: 100%;
}
