body {
  background-color:#243061;
}

.AppsAndClients {
  font-size: 15px;
  background-color:#243061;

  .rotateButton {
    animation: rotate-keyframes 0.5s;
    fill:#4b5991;
   }
   
   @keyframes rotate-keyframes {
    from {
     transform: rotate(180deg);
    }
   
    to {
     transform: rotate(0deg);
    }
   }

.col-1 {
  max-width: 20%;
}
  .card{
    border:none;
  }
  .card-body{
    padding: 1.0rem;
  }
  .background_title {
    h2{text-align: center;}
    text-shadow: 3px 3px 5px black;
    background-color: transparent;
    border: none;
    text{
    white-space: pre; 
    fill: white; 
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif; 
    }
  }

  .stop1 { stop-color:  rgb(103, 87, 245);}
  .stop2 { stop-color:  rgb(248, 118, 192);}
  .stop3 { stop-color:transparent }
  .stop4 { stop-color:  white; }
  .stop5 { stop-color:   rgb(91, 77, 219);}
  .stop6 { stop-color:  rgb(238, 107, 181);}
  .stop7 { stop-color:   rgb(71, 55, 212);}
  .stop8 { stop-color:  rgb(243, 91, 177);}
  

 .rect1{
    fill: url(#Gradient1);
  }
  .rect3{
    opacity:0.3;
    fill: url(#Gradient1);
  }
  .rect2{
    opacity:0.5;
    fill: url(#Gradient1);
  }
  .rect4{
    opacity:0.3;
    fill: url(#Gradient2);
  }
  .rect5{
    fill:white;
    opacity: 0.1;
  }
  .rect6{
    fill: url(#Gradient5);
  }
  .path1Style{
    fill-rule: nonzero;
    fill: url(#Gradient3);
  }
  .path2Style{
    fill-rule: nonzero;
    fill: url(#Gradient4);
    opacity: 0.5;
  }

  @keyframes dotsClients {
    0%        {fill: transparent}
    20%        {fill: rgb(174, 198, 243)}
    40%       {fill: rgb(144, 164, 252)}
    60%       {fill: transparent}
    80%, 100% {fill: transparent}
  }
  
  .dotsClients-light {
    animation: dotsClients 5s ease infinite;
    fill:transparent;
  }
  .dotsClients--1 {animation-delay: .0s}
  .dotsClients--2 {animation-delay: .3s}
  .dotsClients--3 {animation-delay: .6s}
  .dotsClients--4 {animation-delay: .9s}
  .dotsClients--5 {animation-delay: 1.2s}
  
  @keyframes dotsApps {
    0%        {fill: transparent}
    20%        {fill: rgb(243, 174, 234)}
    40%       {fill: rgb(241, 134, 195)}
    60%       {fill: transparent}
    80%, 100% {fill: transparent}
  }
  
  .dotsApps-light {
    animation: dotsApps 6s ease infinite;
    fill: transparent;
  }
  .dotsApps--1 {animation-delay: .0s}
  .dotsApps--2 {animation-delay: .6s}
  .dotsApps--3 {animation-delay: .3s}
  .dotsApps--4 {animation-delay: .9s}
  .dotsApps--5 {animation-delay: 1.2s}
  
 
  .card-header {
    border-radius: 10px;
    color: rgb(255, 255, 255);
    background-color: rgba(251, 250, 252, 0.075);
  }

  #app_card_level1 {
    background: linear-gradient(90deg, #5c6ba5, transparent);
    margin-top: 10px;
    color: seashell;
    border-radius: 20px;
    border:none;
    box-shadow: 0px 2px 10px #1c264d;
    transition: all 0.2s ease-in-out;
}
  #app_card_level1:hover{
    box-shadow: 1px 1px 5px 2px #f087c84f;
    opacity: 0.96;
  }
  #app_card_level1_Change {
    background: linear-gradient(90deg, #a255ac, transparent);    margin-top: 10px;
    color: seashell;
    border-radius: 20px;
    border:none;
    box-shadow: 0px 2px 10px #1c264d;
    transition: all 0.2s ease-in-out;
  }
  #app_card_level1_Change:hover{
    box-shadow: 1px 1px 5px 2px #f087c84f;
    opacity: 0.96;
  }

  .Textbold {
    font-weight: bold;
    text-shadow: 1px 1px 3px black;
  } 

  .dropdown{
    background-color: #4b5991 !important;
    color: white !important;
    border: none;
    box-shadow: 0px 0px 0px #343d64 !important;
    font-size: 13px;
    font-weight: bold;

  }
  .dropdown:hover{
    box-shadow: 1px 3px 5px #343d64 !important;
  }
  .dropdown_isOpen{
    background-color: #5868a7;    
    border-radius: 20px;
    border-style: none;
  }

  select.form-control:not([size]):not([multiple]){
    height: 100%;
  }
  
  .collapsebutton{
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  opacity: 1; transition: opacity 1s;
  &:hover {
    opacity: 0.8;
  }}

  .card_depend_header{
    border-radius: 10px;
    color: rgb(255, 255, 255);
    background: linear-gradient(90deg,rgba(245, 84, 175, 0.534),rgba(245, 84, 175, 0.534), rgba(245, 84, 175, 0.233), transparent);
    margin-top: 5px;
    #depend {
      font: bold 15px "Century Gothic";
      margin-left: 20px;
      margin-top: 10px;
      margin-bottom: 10px;
      color:rgb(8, 8, 8);
      border-radius:10px;
    }
  }

  .body_dependencies {
    background-color:rgba(146, 159, 212, 0.534);
    color:black;
    font: bold 15px "Century Gothic";
    border: none;
    border-radius:5px;
  }
  .interspace{
    margin-top:2px;
    margin-bottom: 2px;
  }

  .client_card_level1 {
    background: linear-gradient(90deg, #4b5991, transparent);
    margin-top: 10px;
    color: seashell;
    border-radius: 20px;
    border:none;
    box-shadow: 0px 5px 10px #1c264d;
    transition: all 0.2s ease-in-out;
    }

  .client_card_level1:hover{
    box-shadow: 1px 1px 5px 2px rgba(74, 102, 212, 0.822);
    opacity: 0.96;
  }
  .client_card_level2 {
    background-color:#243061;
    box-shadow: 0px 2px 10px #1c264d;
    margin-top:5px;
  }
  .client_card_level3 {
    background-color: rgb(75, 89, 145);
    margin-top: 7px;
    border-radius: 10px;
  }
  .comment_card {
    background-color: rgba(36, 48, 97, 0.555);
    border-radius: 20px;
  }
  .helpTextColorClient {
    color:rgb(14, 183, 235) !important;
  }
  .info  {
      margin-left: 3px;
        //font-weight: bold;
        color:white !important;
    }
    .helpTextColorApp {
      color:rgb(236, 140, 222) !important;
    }
  .client_table_version_history {
    background-color:rgba(255, 255, 255, 0.438);
    margin-top:10px;
    color:black;
    text-shadow:none;
    border-radius: 5px;
    box-shadow: 0px 2px 10px #1c264d
  }
  Table{
    margin-bottom: 0px;
  }
  .title_version_history {
    text-align: center;
    text-shadow: 1px 1px 3px rgb(240, 234, 234);
    color: rgb(5, 77, 105);
    font-weight: bold;
    font-size: 17px;
  }
.body_version_history{
  font-size: 14px;
}


.client_button {
  margin-top: 5px;
  margin-bottom: 10px;
  width: 100%;
  color:rgba(15, 13, 48, 0.753);
  background: linear-gradient(90deg,rgba(84, 214, 247, 0.616),rgba(61, 97, 241, 0.582));
  font-weight: bold;
  border:none;
  text-align: center;
  letter-spacing: 0px;
  border-radius: 7px;
  transition: all 0.2s ease-in-out;  //płynne przejście po najechaniu na przycisk
  position: relative;
 
  &:hover {
    background: linear-gradient(90deg,rgba(84, 214, 247, 0.616),rgba(61, 97, 241, 0.582));
    color:black;
    box-shadow: 0 15px 5px -10px rgba(#000, 0.4);
  }

}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle{
  color:rgba(15, 13, 48, 0.753);
  background: linear-gradient(90deg,rgba(84, 214, 247, 0.616),rgba(61, 97, 241, 0.582));
}
.btn-primary:focus, .btn-primary.focus{
  color:black;
}
card{
  height: 100%;
}

//END//
}