body {
  font: 14px "Century Gothic", Futura, sans-serif;
  
  background-color: aqua;
}
client_card_level2{
  background-color:rgba(162, 245, 38, 0.897) !important;
}
#app_card_level1{
  background-color: deepskyblue;
}
#app_card_level1_Change{
  background-color: rgb(76, 236, 241);
}
#card_level2{
  background-color: paleturquoise;
}
#Comment_card{
  background-color: rgb(246, 252, 212)
}
#client_card_level1{
  background-color: rgb(62, 243, 62);
}
client_card_level22{
  background-color:rgba(162, 245, 38, 0.897);
}
#card_level3{
  background-color: lightgray;
}
.info a{
  font: bold 15px "Century Gothic";
}
.info{
  margin-left: 3px;
}
#depend{
  font: bold 15px "Century Gothic";
  margin-left: 20px;
  margin-top: 10px;
}
#infoDepend{
  margin-left: 15px;
}
