#AppsMain.admin-container .head-row {
  background: rgba(255, 145, 0, 0.15) !important;
}

#AppAddForm form textarea {
  height: 148px;
}

#AppVerAdd form textarea {
  height: 148px;
}

#AppsTable.table, #AppsTable table, #AppVerManage.table, #AppVerManage table {
  background: rgba(217, 206, 186, 0.4);
}

#AppsTable.table .selected, #AppsTable table .selected, #AppVerManage.table .selected, #AppVerManage table .selected {
  background: #d9ceba !important;
}
