#AppsMain {
     

     &.admin-container {
          .head-row {

               background: rgba(255, 145, 0, 0.15) !important;

          }
     }
}


#AppAddForm {

     form {
          
          textarea {
               height: 148px;
          }
          
     }

}




#AppVerAdd {
     
     form {
          textarea {
               height: 148px;
          }
     }
     
}


#AppsTable, #AppVerManage {

     &.table, table {

          background: rgba(217, 206, 186, 0.4);

          .selected {
               background: rgb(217, 206, 186) !important;
          }

     }

}








