#ClientsMain {
     

     &.admin-container {
          .head-row {

               background: rgba(132, 0, 255, 0.1) !important;

          }
     }
}



#ClientAddForm {

     form {
          
          textarea {
               height: 200px;
          }
          
     }

}


#ClientAppAdd {

     form {
          
          textarea {
               height: 100px;
          }
          
     }

}



#ClientsTable, #ClientAppsManage {

     &.table, table {

          background: rgba(201, 192, 221, 0.4);

          .selected {
               background: rgb(200, 192, 221) !important;
          }

     }

}




