#ClientsMain.admin-container .head-row {
  background: rgba(132, 0, 255, 0.1) !important;
}

#ClientAddForm form textarea {
  height: 200px;
}

#ClientAppAdd form textarea {
  height: 100px;
}

#ClientsTable.table, #ClientsTable table, #ClientAppsManage.table, #ClientAppsManage table {
  background: rgba(201, 192, 221, 0.4);
}

#ClientsTable.table .selected, #ClientsTable table .selected, #ClientAppsManage.table .selected, #ClientAppsManage table .selected {
  background: #c8c0dd !important;
}
