//Error modal
.error-title {
     color: rgb(136, 0, 0);
}

.error-message {
     color: rgb(41, 41, 41);
}

.error-data {

     display: block;

     border: 1px solid black;
     color: rgb(167, 0, 0);
     background: rgba(255, 0, 0, 0.05);
     width: 100%;

     overflow-x: scroll;
     overflow-y: hidden;

     th {
          text-indent: 1em;
     }

     td {
          text-indent: 0.3em;
          border: 1px solid black;
     }

}






