.error-title {
  color: #880000; }

.error-message {
  color: #292929; }

.error-data {
  display: block;
  border: 1px solid black;
  color: #a70000;
  background: rgba(255, 0, 0, 0.05);
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden; }
  .error-data th {
    text-indent: 1em; }
  .error-data td {
    text-indent: 0.3em;
    border: 1px solid black; }
