.Loading {
     animation-name: loading;
     animation-duration: 0.5s;
     animation-iteration-count: infinite;

     opacity: 0.3;

     box-sizing: border-box;

     width: 30px;
     height: 30px;

     border: 10px solid black;
     border-radius: 100%;
     border-top-color: rgb(0, 0, 0);
     border-left-color: rgb(83, 83, 83);
     border-bottom-color: rgb(117, 117, 117);
     border-right-color: rgb(236, 236, 236);

     display: inline-block;
}



@keyframes loading {
     from {
          transform: rotate(0deg);
     }
     
     to {
          transform: rotate(360deg);
     }
}

