.Loading {
  animation-name: loading;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  opacity: 0.3;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border: 10px solid black;
  border-radius: 100%;
  border-top-color: black;
  border-left-color: #535353;
  border-bottom-color: #757575;
  border-right-color: #ececec;
  display: inline-block; }

@keyframes loading {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
