body {
  background: linear-gradient(to bottom, #dbdbdb 0%, rgba(219, 219, 219, 0.99) 1%, rgba(255, 255, 255, 0) 100%);
  background-repeat: no-repeat;
}

.main-nav-element-active button {
  background: rgba(52, 57, 97, 0.31) !important;
}

.MainContainer {
  margin-top: 70px;
}

.main-nav {
  background: linear-gradient(to bottom, #0d1f44 0%, #537b9b 100%);
  z-index: 1000;
  top: 0;
  height: 70px;
  position: fixed;
  width: 100vw;
}

.main-nav h1 {
  color: #cccccc;
  text-align: center;
  font-size: 1em;
  line-height: 70px;
  margin-bottom: 0;
}

.main-nav ul {
  position: relative;
  right: 0;
}

.main-nav ul li .btn {
  background: #292e54;
  color: whitesmoke;
  width: 170px;
}

.main-nav ul li .btn:hover {
  background: #323652;
}

#AdminPanel {
  margin-bottom: 30px;
}

#AdminPanel .content-row-adds.row > div:nth-child(1) {
  border-right: 1px solid rgba(0, 0, 0, 0.199);
}

#AdminPanel .home-page {
  padding: 20px;
  text-align: justify;
  min-height: 70vh;
}

#AdminPanel .home-page div {
  text-indent: 2em;
}

#AdminPanel .home-page h3 {
  text-align: left;
  font-size: 1.2em;
}

#AdminPanel nav {
  background: linear-gradient(to bottom, #a90329 0%, #8f0222 44%, #6d0019 100%);
  padding: 0;
}

#AdminPanel nav button {
  background: linear-gradient(to bottom, #a90329 0%, #8f0222 44%, #6d0019 100%);
}

#AdminPanel nav .admin-nav-element-active button {
  background: linear-gradient(to bottom, rgba(255, 177, 195, 0.34) 0%, rgba(119, 0, 27, 0.63) 44%, rgba(123, 75, 86, 0.41) 100%);
}

#AdminPanel nav .navbar-brand {
  color: white;
  padding-left: 15px;
  font-size: 0.9em;
  font-weight: 500;
}

#AdminPanel nav .navbar-brand:hover {
  color: lightgray;
}

#AdminPanel nav .navbar-nav {
  background: rgba(243, 243, 243, 0.25);
  border-radius: 5px;
  width: 100%;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  #AdminPanel nav .navbar-nav .nav-item {
    width: 100%;
  }
  #AdminPanel nav .navbar-nav .nav-item .btn {
    width: 90%;
  }
}

@media only screen and (max-width: 767px) {
  #AdminPanel nav .navbar-nav .nav-item .btn {
    width: 50%;
  }
}

.admin-container {
  background: linear-gradient(135deg, #b9b9b94d 0%, #cbd7de 47%, #afb8bd 100%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.admin-container h3, .admin-container h4, .admin-container h5, .admin-container h6 {
  text-align: center;
  margin-top: 10px;
  color: #353535;
  font-size: 1.2em;
  font-style: italic;
}

.admin-container h6 {
  text-align: left;
  text-indent: 2em;
}

.admin-container label {
  color: #707070;
  font-weight: 500;
}

.admin-container table th, .admin-container table td {
  text-align: center;
  vertical-align: middle;
}

.admin-container .head-row {
  padding: 10px 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.admin-container .head-row .head-title {
  border-top-left-radius: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.admin-container .head-row .head-title h2 {
  color: #636363;
  font-size: 2em;
  text-shadow: 1px 1px 2px #969696;
  margin: 0;
}

.admin-container .head-row .head-buttons {
  border-top-right-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.admin-container .head-row .head-buttons .button-add {
  background: linear-gradient(to bottom, #9faf47 0%, #729422 50%, #588400 51%, #739224 100%);
}

.admin-container .head-row .head-buttons .button-add:hover {
  background: linear-gradient(to bottom, #b9cc51 0%, #8fb92c 50%, #78b301 51%, #7fa029 100%);
}

.admin-container .head-row .head-buttons .button-edit {
  background: linear-gradient(to bottom, #e08b4e 1%, #d1590e 50%, #ba4705 53%, #d16f3a 100%);
}

.admin-container .head-row .head-buttons .button-edit:hover {
  background: linear-gradient(to bottom, #f19351 1%, #e26110 50%, #d44f03 53%, #ea7e43 100%);
}

.admin-container .head-row .head-buttons .btn-active .button-add {
  background: linear-gradient(to bottom, rgba(159, 175, 71, 0.6) 0%, rgba(114, 148, 34, 0.6) 50%, rgba(88, 132, 0, 0.6) 51%, rgba(115, 146, 36, 0.6) 100%);
}

.admin-container .head-row .head-buttons .btn-active .button-edit {
  background: linear-gradient(to bottom, rgba(224, 139, 78, 0.6) 1%, rgba(209, 89, 14, 0.6) 50%, rgba(186, 71, 5, 0.6) 53%, rgba(209, 111, 58, 0.6) 100%);
}

.admin-container .head-row .head-buttons button {
  width: 140px;
  margin: 3px 10px;
}

.admin-container .content-row-adds form .form-group {
  margin-top: 30px;
}

.admin-container .content-row-adds .form-submit-row {
  background: rgba(128, 128, 128, 0.123);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.admin-container .content-row-adds .form-submit-row .alert {
  margin: 0;
}

#ClientManage .tabs, #AppManage .tabs {
  margin: 30px 0;
}

#ClientManage .tabs .nav-item, #AppManage .tabs .nav-item {
  width: 50%;
}

#ClientData form button.btn.btn-danger, #AppData form button.btn.btn-danger {
  width: 50%;
  margin: 0 auto;
  display: block;
}

#ClientData form button.btn.btn-warning, #AppData form button.btn.btn-warning {
  margin: 20px 0;
  width: 100%;
}

#ClientData form .description, #AppData form .description {
  height: 100%;
}

#ClientData form .description textarea, #AppData form .description textarea {
  height: calc(100% - 2em);
}

#ClientData form .appsDescription, #AppData form .appsDescription {
  height: 100%;
}

#ClientData form .appsDescription textarea, #AppData form .appsDescription textarea {
  height: calc(100% - 2em);
}

#ClientAppsManageDetail, #AppManageDetail {
  border-top: 1px solid rgba(128, 128, 128, 0.5);
  margin-top: 50px;
  padding-bottom: 15px;
}

#ClientAppsManageDetail form button, #AppManageDetail form button {
  width: 100%;
}

#ClientAppsManageDetail form textarea, #AppManageDetail form textarea {
  height: 150px;
}
