$nav-main-height: 70px;
$container-corner-radius: 10px;

body {
     background: linear-gradient(to bottom, rgba(219,219,219,1) 0%,rgba(219,219,219,0.99) 1%,rgba(255,255,255,0) 100%); 
     background-repeat: no-repeat;
}



.main-nav-element-active {

     button {
          background: rgba(52, 57, 97, 0.31) !important;
     }
}

.MainContainer {
     margin-top: $nav-main-height;
}



.main-nav {
     background: linear-gradient(to bottom, rgb(13,31,68) 0%,rgb(83,123,155) 100%);
     // background: red;
     z-index: 1000;
     top: 0;

     height: $nav-main-height;
     position: fixed;
     width: 100vw;

     h1 {
          color: rgb(204, 204, 204);
          text-align: center;
          font-size: 1em;
          line-height: 70px;
          margin-bottom: 0;
     }

     ul {
          position: relative;
          right: 0;

          li {
               .btn {
                    background: rgb(41, 46, 84);
                    color: whitesmoke;
                    width: 170px;

                    &:hover {
                         background: rgb(50, 54, 82);
                    }
               }
          }
     }

}


#AdminPanel {
     
     margin-bottom: 30px;


     .content-row-adds.row {
          & > div:nth-child(1) {
               border-right: 1px solid rgba(0, 0, 0, 0.199);
          }
     }



     .home-page {
          // background: rgb(255, 61, 61);
          padding: 20px;
          text-align: justify;
          min-height: 70vh;

          div {
               text-indent: 2em;
          }

          h3 {
               text-align: left;
               font-size: 1.2em;
          }
     }


     nav {

          background: linear-gradient(to bottom, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%);
          padding: 0;

          button {
               background: linear-gradient(to bottom, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%);
          }

          .admin-nav-element-active {
               button {
                    background: linear-gradient(to bottom, rgba(255, 177, 195, 0.34) 0%, rgba(119, 0, 27, 0.63) 44%, rgba(123, 75, 86, 0.41) 100%)
               }
          }

          .navbar-brand{ 

               color: white;
               padding-left: 15px;
               font-size: 0.9em;
               font-weight: 500;

               &:hover {
                    color: rgb(211, 211, 211);
               }
          }

          .navbar-nav {

               background: rgba(243, 243, 243, 0.25);

               border-radius: 5px;

               width: 100%;
               text-align: center;

               .nav-item {
                    @media only screen and (min-width: 768px) {
                         width: 100%;

                         .btn {
                              width: 90%;
                         }
                    }



                    @media only screen and (max-width: 767px) {
                         .btn {
                              width: 50%;
                         }
                    }
               }
          }
     }
}




.admin-container {

     background: linear-gradient(135deg, #b9b9b94d 0%, #cbd7de 47%, #afb8bd 100%);
     
     border-top-left-radius: $container-corner-radius;
     border-top-right-radius: $container-corner-radius;

     h3, h4, h5, h6 {
          text-align: center;
          margin-top: 10px;
          color: rgb(53, 53, 53);
          font-size: 1.2em;
          font-style: italic;
     }


     h6 {
          text-align: left;
          text-indent: 2em;
     }


     label {
          color: rgb(112, 112, 112);
          font-weight: 500;
     }
     

     table {

          th, td {
               text-align: center;
               vertical-align: middle;
          }
     }



     .head-row {
          padding: 10px 0;
          
          border-top-left-radius: $container-corner-radius;
          border-top-right-radius: $container-corner-radius;

          .head-title {
               border-top-left-radius: $container-corner-radius;
               align-items: center;
               justify-content: center;
               display: flex;

               h2 {
                    color: rgb(99, 99, 99);
                    font-size: 2em;
                    text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
                    margin: 0;
               }
          }

          .head-buttons {
               border-top-right-radius: $container-corner-radius;
               // background: blue;

               display: flex;

               justify-content: center;
               align-items: center;

               text-align: center;
          



               .button-add {
                    background: linear-gradient(to bottom, rgb(159, 175, 71) 0%, rgb(114, 148, 34) 50%, rgb(88, 132, 0) 51%, rgb(115, 146, 36) 100%);

                    &:hover {
                         background: linear-gradient(to bottom, rgb(185, 204, 81) 0%, rgb(143, 185, 44) 50%, rgb(120, 179, 1) 51%, rgb(127, 160, 41) 100%)
                    }
               }

               .button-edit {
                    background: linear-gradient(to bottom, rgba(224,139,78,1) 1%,rgba(209,89,14,1) 50%,rgba(186,71,5,1) 53%,rgba(209,111,58,1) 100%);

                    &:hover {
                         background: linear-gradient(to bottom, rgb(241, 147, 81) 1%, rgb(226, 97, 16) 50%, rgb(212, 79, 3) 53%, rgb(234, 126, 67) 100%);
                    }
               }


               .btn-active {

                    .button-add {
                         background: linear-gradient(to bottom, rgba(159, 175, 71, 0.6) 0%, rgba(114, 148, 34, 0.6) 50%, rgba(88, 132, 0, 0.6) 51%, rgba(115, 146, 36, 0.6) 100%);
                    }

                    .button-edit {
                         background: linear-gradient(to bottom, rgba(224, 139, 78, 0.6) 1%, rgba(209, 89, 14, 0.6) 50%, rgba(186, 71, 5, 0.6) 53%, rgba(209, 111, 58, 0.6) 100%);                    }
               }

               button {
                    width: 140px;
                    margin: 3px 10px;
               }

          }

     }






    .content-row-adds {

          form {

               .form-group {
                    margin-top: 30px;
               }

          }

         .form-submit-row {
               background: rgba(128, 128, 128, 0.123);
               height: 100px;

               display: flex;
               justify-content: center;
               align-items: center;
               text-align: center;

               .alert {
                    margin: 0;
               }
         }


    }





}




#ClientManage, #AppManage {

     .tabs {       

          .nav-item {
               width: 50%;
               // background: gray;
          }

          margin: 30px 0;

     }
}




#ClientData, #AppData {

     form {

          button.btn.btn-danger {
               width: 50%;
               margin: 0 auto;
               display: block;
          }

          button.btn.btn-warning {
               margin: 20px 0;
               width: 100%;
          }
     

          .description {
               height: 100%;
               
               textarea {
                    height: calc(100% - 2em);
                    
               }
     
          }

          
          .appsDescription {
               height: 100%;
               
               textarea {
                    height: calc(100% - 2em);
                    
               }
     
          }


     
     }
}


#ClientAppsManageDetail, #AppManageDetail {

     border-top: 1px solid rgba(128, 128, 128, 0.5);

     margin-top: 50px;

     padding-bottom: 15px;

     form {
          button {
               width: 100%;
          }
          
          textarea {
               height: 150px;
          }
     }

}








